.container {
    width: 1440px;
    margin: 0 auto;
}
.title {
    font-size: 48px;
    color: transparent;
    -webkit-text-stroke: 2px #FDFFA9;
    text-align: center;
    line-height: 1.0606;
    &__big {
        font-size: 66px;
    }
}
.subtitle {
    font-size: 24px;
    line-height: 1.58333;
    color: #fff;
    text-align: center;
    margin-top: 34px;
}