.root {
    :global {
        .sponsor {
            &Root {
                padding-top: 205px;
                padding-bottom: 230px;
                position: relative;
                background: url('../../assets/images/sponsor/sponsorBG.png') center center/cover;
                text-align: center;
            }
            &-list {
                margin: 70px 0 120px;
                display: flex;
                justify-content: space-around;
            }
        }
        .title {
            color: #fff;
            -webkit-text-stroke: initial;
        }
        .registrationBtn {
            font-size: 48px;
            color: transparent;
            -webkit-text-stroke: 2px #FDFFA9;
            padding: 40px 156px;
            border: 8px solid #FFBFFC;
            border-radius: 20px;
            display: inline-block;
        }
    }
}