.troubled {
    padding: 50px 0;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid #626262;
}

.circle-mask {
    position: absolute;
    opacity: 0.2;
    &--one {
        left: 0;
        top: -50px;
    }
    &--two {
        right: 0;
        bottom: 0;
    }
}

.step {
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    &-list {
        counter-increment: li;
        position: relative;
        opacity: 0;
        transform: translateY(100px);
        &::after {
            content: counter(li);
            position: absolute;
            font-size: 128px;
            color: transparent;
            -webkit-text-stroke: 2px #fff;
            top: -40px;
            left: -30px;
            width: 79px;
        }
        &:nth-of-type(2) {
            margin: 150px 0;
        }
        &:nth-of-type(3) {
            align-self: flex-end;
            .step-list-img__img {
                margin-top: 70px;
            }
        }
        &-img {
            margin: 0 auto;
            width: 240px;
            height: 300px;
            border-radius: 10px;
            background: #142c48 url("../../assets/images/troubled/stepBg.png") center center/cover;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            &__decorate {
                position: absolute;
                top: 25px;
                right: 20px;
                font-size: 48px;
                color: #FDFFA9;
                transform: rotate(15deg);
            }
        }
        &__info {
            font-size: 24px;
            line-height: 1.58333;
            color: #fff;
            margin-top: 26px;
        }
    }
}